* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    outline: none;
    list-style: none;
}

body {
    max-width: 1400px;
    margin: 0 auto;
}

/// colors ///
$primary-color: rgba(105, 185, 157, 1);
$unactive-color: rgba(142, 142, 142, 1);
$titled-color: rgba(31, 39, 68, 1);
$subtitled-color: rgba(5, 68, 87, 1);
/// colors ///

/// fonts ///
%titled-font {
    font-weight: 600;
    font-size: 48px;
    color: $subtitled-color;
    margin-bottom: 0;
}

%description-font {
    color: $unactive-color;
    font-weight: 400;
    font-size: 16px;
}

%named-font {
    font-weight: 500;
    font-size: 18px;
    color: $primary-color;
}

%logo-font {
    color: $primary-color;
    font-weight: 500;
    font-size: 24px;
    margin-left: 10px;
}

/// fonts ///


%button {
    font-weight: 500;
    font-size: 16px;
    background: $primary-color;
    color: white;
    border: none;
    gap: 10px;
    padding: 16px 48px 15px;
    transition: .2s all;
    cursor: pointer;

    &:hover,
    &:focus,
    &:active {
        color: $primary-color;
        background: white;
        transition: .4s all;
    }
}



//// <HEADER> /////

.header .header_container {
    display: flex;
    justify-content: space-between;
}

.header_container .header_logo {
    display: flex;
    align-items: center;

}

.header_logo .header_logo-title {
    @extend %logo-font;
}

.header_container {
    .header_list {
        display: flex;
        align-items: center;
        justify-content: space-between;

        ul {
            display: flex;
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: space-between;

            li {
                margin-left: 50px;
                color: $unactive-color;
                font-weight: 500;
                font-size: 18px;
                transition: .4s all;
                margin-right: 50px;
                cursor: pointer;

                &:hover,
                &:focus,
                &:active {
                    color: $primary-color;
                    transition: .4s all;
                    border-bottom: 1px solid;
                    transform: translateY(-5px);
                }
            }

        }


        .hamburger {
            display: none;
            cursor: pointer;
            margin-right: 100px;

            span {
                display: block;
                width: 25px;
                height: 3px;
                margin: 5px auto;
                transition: .3s all ease-in-out;
                background-color: $primary-color;
            }
        }
    }

    .header_register {
        display: flex;
        align-items: center;

        .header_btns {
            button {
                @extend %button;
            }
        }
    }
}

//// </HEADER> /////



//// <SEARCH CONTAINER> ////

.search {
    margin-top: 80px;
    margin-bottom: 130px;
    background-image: url("../source/background-search.png");
    background-repeat: no-repeat;
    background-position: 100%;
    padding-bottom: 100px;

    .search_title {
        .search_title-name {
            @extend %named-font;
        }

        .search_title-main {
            color: $titled-color;
            font-weight: 600;
            font-size: 64px;
            line-height: 74px;
        }

        .search_title-desc {
            @extend %description-font;
            margin-bottom: 40px;
        }
    }

    .search_container {
        .search_container-btns {
            display: flex;

            a {
                color: $unactive-color;
                font-weight: 500;
                font-size: 24px;
                transition: .2s all;
                cursor: pointer;
                margin-left: 32px;


                &:hover,
                &:focus,
                &:active {
                    color: $primary-color;
                    transition: .2s all;
                }
            }
        }

        .search_container-block {
            display: flex;
            background: #FEFEFF;
            box-shadow: 35px 35px 65px rgba(146, 106, 120, 0.274);
            max-width: 750px;


            .search_container-list {
                display: flex;
                list-style: none;
                text-align: center;
                padding: 0;

                .search_container-list-item {
                    margin-left: 30px;

                    p {
                        color: $titled-color;
                        font-weight: 400;
                        font-size: 18px;

                    }

                    select {
                        color: $unactive-color;
                        border: none;
                        font-weight: 400;
                        font-size: 18px;
                        text-align: center
                    }
                }
            }

            .search_button {
                margin: 0 auto;
                margin-top: 30px;

                button {
                    @extend %button;

                }

            }

        }
    }
}

//// </SEARCH CONTAINER> ////



//// <ADVERTISEMENT BLOCK> ////

.advertisement {
    margin-bottom: 120px;

    .advertisement_title {
        margin-bottom: 48px;

        .advertisement_title-desc {
            @extend %description-font;
        }

        .advertisement_title-name {
            @extend %named-font;
        }

        .advertisement_title-main {
            @extend %titled-font;
        }
    }

    .advertisement_container {
        display: flex;
        justify-content: space-between;

        .advertisement_card {
            max-width: 376px;
            padding: 20px;
            transition: .4s all;

            &:hover,
            &:focus,
            &:active {
                transform: translateY(-5px);
                box-shadow: 2px 8px 8px 0 rgba(0, 0, 0, 0.2);
                transition: .4s all;
            }


            img {
                margin: 0 auto;
            }

            h2 {
                font-weight: 600;
                font-size: 24px;
                color: $titled-color;
            }

            p {
                @extend %description-font;
            }

            .advertisement_card-info {
                display: flex;
                align-items: center;


                .price {
                    font-weight: 600;
                    font-size: 24px;
                    color: $primary-color;
                    margin-right: 40px;
                }

                mark {
                    background: white;
                    color: $titled-color;
                    font-weight: bold;
                    font-size: 16px;
                }

            }
        }

        .advertisement_card-btn {
            display: flex;
            justify-content: center;

            button {
                @extend %button;
            }

            // button {
            //     background: $primary-color;
            //     box-shadow: 0px 0px 20px rgba(105, 185, 157, 0.58);
            //     justify-content: center;
            //     align-items: center;
            //     padding: 12px 120px;
            //     gap: 8px;
            //     font-weight: 500;
            //     font-size: 16px;
            //     color: white;
            //     border: none;
            //     transition: .4s all;

            //     &:hover,
            //     &:focus,
            //     &:active {
            //         color: $primary-color;
            //         background: white;
            //         border: 1px solid $primary-color;
            //         transition: .4s all;
            //     }
            // }
        }

}

//// </ADVERTISEMENT BLOCK> ////



//// <ADVANTAGES BLOCK> //// 

.advantages {
    margin-bottom: 200px;

    .advantages_title {
        margin-bottom: 75px;

        .advantages_title-name {
            @extend %named-font;
        }

        .advantages_title-main {
            @extend %titled-font;
        }
    }

    .advantages_container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .advantages_card {
            max-width: 376px;
            margin-bottom: 70px;

            h2 {
                font-weight: 700;
                font-size: 28px;
                letter-spacing: 0.5;
                color: $subtitled-color;
            }

            p {
                @extend %description-font;
            }
        }
    }
}

//// </ADVANTAGES BLOCK> //// 



//// <REPUTATION BLOCK> ////

.reputation {
    display: flex;
    margin-bottom: 132px;

    .reputation_left {
        margin-right: 100px;

        .reputation_left-container {
            position: relative;
            width: 100%;

            .reputation_left-card {
                padding: 10px 40px;
                position: absolute;
                max-width: 174px;
                display: flex;
                flex-direction: column;
                text-align: center;
                background-color: white;
                box-shadow: 35px 35px 65px rgba(146, 106, 120, 0.16);
                top: -100px;
                left: 20%;

                .grade {
                    font-weight: 400;
                    font-size: 72px;
                    margin: 0;
                    color: $titled-color;
                }

                .trusted_on {
                    font-weight: 400;
                    font-size: 16px;
                    color: $unactive-color;
                    margin-bottom: 0;
                }

                .reviews {
                    font-weight: 400;
                    font-size: 16px;
                    color: $titled-color;
                }
            }

            .reputation_left-stat {
                background-color: white;
                display: flex;
                position: absolute;
                left: 20%;
                bottom: 7px;
                padding: 10px 15px;

                .sale {
                    display: flex;
                    align-items: center;
                    margin-right: 20px;

                    h1 {
                        font-weight: 600;
                        font-size: 48px;
                        color: $titled-color;


                    }

                    label {
                        margin-right: 30px;
                        font-weight: 600;
                        font-size: 48px;
                        color: $titled-color;
                    }

                    p {
                        font-weight: 400;
                        font-size: 16px;
                        color: $unactive-color;
                    }
                }

                .rent {
                    display: flex;
                    align-items: center;

                    h1 {
                        font-weight: 600;
                        font-size: 48px;
                        color: $titled-color;

                    }

                    label {
                        margin-right: 30px;
                        font-weight: 600;
                        font-size: 48px;
                        color: $titled-color;
                    }

                    p {
                        font-weight: 400;
                        font-size: 16px;
                        color: $unactive-color;
                    }
                }
            }
        }
    }

    .reputation_right {

        .reputation_title {
            .reputation_title-name {
                @extend %named-font;
            }

            .reputation_title-desc {
                @extend %description-font;
                margin-bottom: 40px;
            }

            .reputation_title-main {
                @extend %titled-font;
            }

            button {
                @extend %button;
            }
        }
    }
}

//// </REPUTATION BLOCK> ////



//// <FEEDBACK BLOCK> //// 

.feedback {
    margin-bottom: 200px;

    .feedback_title {
        margin-bottom: 130px;

        .feedback_title-name {
            @extend %named-font;
        }

        .feedback_title-main {
            @extend %titled-font;
        }
    }

    .feedback_container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .feedback_card {
            max-width: 376px;

            .feedback_card-title {
                font-weight: 600;
                font-size: 18px;
                color: $titled-color;
            }

            .feedback_card-desc {
                font-weight: 400;
                font-size: 16px;
                color: $titled-color;
            }

            .feedback_card-person {
                display: flex;
                align-items: center;

                img {
                    margin-right: 15px;
                    width: 50px;
                    height: 50px;
                }

                .person_details {
                    h3 {
                        font-weight: 600;
                        font-size: 16px;
                        color: $titled-color;
                        margin-bottom: 0;
                    }

                    p {
                        font-weight: 400;
                        font-size: 12px;
                        color: $unactive-color;
                    }
                }

            }
        }
    }
}

//// </FEEDBACK BLOCK> ////  



//// <FOOTER BLOCK> /////

.footer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;

    .footer_container {
        display: flex;
        flex-direction: column;

        .footer_logo {
            display: flex;
            align-items: center;

            p {
                @extend %logo-font;
            }
        }

        .footer_form {
            p {
                font-weight: 400;
                font-size: 16px;
                color: $titled-color;
                margin-bottom: 40px;
            }

            label {
                font-weight: 500;
                font-size: 20px;
                color: $titled-color;
            }

            .footer_form-input {


                input {
                    font-weight: 400;
                    font-size: 16px;
                    color: $unactive-color;
                    padding-left: 5px;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    padding-right: 50px;
                    border: none
                }

                button {
                    @extend %button;
                }
            }
        }
    }

    .footer_list {
        ul {
            margin-right: 100px;
        }

        ul:last-child {
            margin-right: 0;
        }

        display: flex;
        justify-content: space-around;

        h2 {
            font-weight: 500;
            font-size: 20px;
            color: $titled-color;
        }

        li {
            margin-bottom: 16px;

            a {
                font-weight: 400;
                font-size: 16px;
                color: $unactive-color;
                transition: .2s all;
                cursor: pointer;


                &:hover,
                &:focus,
                &:active {
                    color: $titled-color;
                    transition: .2s all;
                }
            }
        }

        img {
            cursor: pointer;
        }

        .footer_list-follow {
            .footer_list-media {
                display: flex;
            }
        }
    }
}

//// </FOOTER BLOCK> /////




/// MEDIA ADAPTIVE ///
@media screen and (max-width: 1128px) {
    .feedback {
        .feedback_container {
            display: flex;
            flex-direction: column;
            align-items: center;

            .feedback_card {
                margin-bottom: 50px;
            }
        }
    }

    .advertisement {
        .advertisement_title {
            text-align: center;
        }

        .advertisement_container {
            display: flex;
            flex-direction: column;
            align-items: center;

            .advertisement_card {
                margin-bottom: 50px;
                border: 2px solid rgba(75, 75, 75, 0.233);
                border-radius: 10px;
            }
        }
    }

    .advantages {
        .advantages_title {
            text-align: center;
        }
    }

    .feedback {
        .feedback_title {
            text-align: center;
        }
    }
}

@media screen and (max-width: 1100px) {
    body.active {
        overflow: hidden;
    }

    .header {
        .header_container {
            nav {
                .hamburger {
                    display: block;
                }

                .hamburger.active .bar:nth-child(2) {
                    opacity: 0;
                }

                .hamburger.active .bar:nth-child(1) {
                    transform: translateY(8px) rotate(45deg);
                }

                .hamburger.active .bar:nth-child(3) {
                    transform: translateY(-8px) rotate(-45deg);
                }

                .header_nav {
                    position: fixed;
                    left: -100%;
                    top: 70px;
                    gap: 0;
                    flex-direction: column;
                    background-color: rgb(255, 255, 255);
                    width: 100%;
                    text-align: center;
                    transition: .2s all;
                    padding-bottom: 20px;

                    li {
                        margin: 16px 0;
                    }
                }

                .header_register {}

                .header_nav.active {
                    left: 0;
                    background-color: white;


                }
            }
        }
    }


}

@media screen and (max-width: 920px) {
    .reputation {
        display: flex;
        flex-direction: column;

        .reputation_left {
            margin: 0 auto;
        }

        .reputation_right {
            display: flex;
            flex-direction: column;
            text-align: center;

        }
    }

    .footer {
        display: flex;
        flex-direction: column;
    }

    .search {

        .search_title {
            .search_title-desc {
                color: $titled-color;
            }
        }

    }
}

@media screen and (max-width: 750px) {
    .advantages {
        .advantages_container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

}

@media screen and (max-width: 680px) {
    .search {
        .search_container {
            .search_container-block {
                max-width: 250px;
                align-items: center;
                padding-bottom: 20px;

                ul {
                    display: flex;
                    flex-direction: column;
                    justify-content: left;

                }

                display: flex;
                flex-direction: column;
            }
        }
    }

    .reputation {
        .reputation_left {
            display: flex;
            position: relative;

            #aboutUs {
                display: none;
            }

            .reputation_left-container {
                position: relative;

                .reputation_left-stat {
                    flex-direction: column;
                    display: flex;
                    position: relative;
                    justify-content: center;


                }

                .reputation_left-card {
                    position: relative;
                    display: flex;
                    justify-content: center;
                }
            }
        }
    }

    .footer {
        .footer_list {
            display: flex;
            flex-direction: column;
        }
    }

}

/// MEDIA ADAPTIVE ///